<h1><%= @good.name %></h1>
<p><%= image_tag(@good.photo_url) if @good.photo? %></p>
<ul>
  <li>Description: <%= @good.description %></li>
  <li>Price: <%= @good.price %>$</li>
  <li>Available: <%= @good.available ? 'Yes' : 'No' %></li>
</ul>

<h3><%= link_to 'Back', goods_path %></h3>