<h1>Goods</h1>

<% if @goods.empty? %>
  <b>No goods in store</b>
<% else %>
  <table border="1">
    <tr>
      <th>Good</th>
      <th>Category</th>
      <th>Price</th>
      <th>Available</th>
    </tr>

    <% @goods.each do |i| %>

      <tr>
        <td>
            <%= image_tag(i.photo_url(:thumb)) if i.photo? %>
            <%= link_to i.name, store_show_good_path(i) %>
        </td>
        <td><%= i.category.category if i.category %></td>
        <td><%= i.price %>$</td>
        <td><%= i.available ? 'Yes' : 'No' %></td>
       </tr>

    <% end %>

  </table>
<% end %>
