<!DOCTYPE html>
<html>
    <head>
        <title>OnlineShop</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        
        <div id="header">
            
            <div id="header-right">
                <% if user_signed_in? %>
                    <span>Welcome, <%= current_user.email %></span>
                    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
                    <%= link_to 'Admin panel', '#' %>
                <% else %>
                    <span>You are not signed in.</span>
                    <%= link_to 'Sign in', new_user_session_path %> <%= link_to 'Sign up', new_user_registration_path %>
                <% end %>
            </div>
            
            <div id="header-left">
                <%= link_to 'Sale computer equipment', root_path %>
            </div>
            
        </div>

        <div id="main">
            <div id="bodycopy">

                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>

                <%= yield %>

            </div>

            <div id="sidebar">
                <ul>
                    <li><%= link_to 'Monitors', '#'%></li>
                    <li><%= link_to 'Computers', '#'%></li>
                </ul>
            </div>

        </div>

        <div id="footer">© Company 2015. All Rights Reserved.</div>

    </body>
</html>
